[2019-11-27 14:57] ashleygwilliams opened #2 "add CONTRIBUTING instructions to README"

[2019-11-27 14:58] ashleygwilliams opened #3 "add README"

[2019-11-27 14:58] ashleygwilliams opened #4 "add links to CFP and registration"

[2019-11-27 14:58] ashleygwilliams opened #5 "add CoC to site and repo"

[2019-11-27 14:59] ashleygwilliams opened #6 "add contact email"

[2019-11-27 16:29] #3 closed

[2019-11-27 18:44] torch2424 commented on #6
I can take this, will mock up a design and ask for feedback here 😄

[2019-11-27 19:03] ashleygwilliams commented on #4
this is my proposal, very rough of course
<img width="394" alt="Screen Shot 2019-11-27 at 12 59 27 PM" src="https://user-images.githubusercontent.com/1163554/69752192-528ac400-1116-11ea-9a1d-5e72e9f0f0d3.png">

[2019-11-27 19:10] torch2424 commented on #6
Used Devtools to add a link below the Sign up for Updates 😄

And since [Chrome seems to require some setup to handle mailto links](https://support.google.com/chrome/thread/2305270?hl=en), I think it's worth putting the actual contact email 👍

cc @ashleygwilliams @ttraenkler

<img width="382" alt="Screen Shot 2019-11-27 at 11 08 45 AM" src="https://user-images.githubusercontent.com/1448289/69752549

[2019-11-27 19:25] torch2424 commented on #4
Yes! I think this is great! @ashleygwilliams

I think part of this implementation, should also be to remove the flexbox page centering, since this seems like it will have more vertical height than the current site does 😄

[2019-11-27 19:35] ashleygwilliams commented on #6
i would potentially try to widen this component- no real need for this content to be this narrow. and then potentially center it. i'd probably also give it some breathing room above and potentially  a horizontal rule (thin white?) just above

[2019-11-27 19:37] ashleygwilliams commented on #6
also +1  to showing the actual email

[2019-11-27 19:58] torch2424 commented on #6
@ashleygwilliams Sounds good to me! 😄

So like this than?

<img width="392" alt="Screen Shot 2019-11-27 at 11 58 10 AM" src="https://user-images.githubusercontent.com/1448289/69755513-3c2c3a80-110d-11ea-9837-a0d495724097.png">
<img width="864" alt="Screen Shot 2019-11-27 at 11 58 01 AM" src="https://user-images.githubusercontent.com/1448289/69755514-3c2c3a80-110d-11ea-8744-f6331f76c0cd.png">

[2019-11-27 20:02] ttraenkler commented on #6
@torch2424 I would recommend to tone down the bar a bit, give it more vertical margin and make the link in a less salient shade.

[2019-11-27 20:05] ttraenkler commented on #6
Regarding the flyer above, I'm not sure if @ashleygwilliams actually meant to widen it as well. To me the alignment was better before.

[2019-11-27 20:19] torch2424 commented on #6
So like this than? @ttraenkler @ashleygwilliams 😄

<img width="378" alt="Screen Shot 2019-11-27 at 12 11 25 PM" src="https://user-images.githubusercontent.com/1448289/69756312-11db7c80-110f-11ea-980f-1741ef2fe00b.png">
<img width="860" alt="Screen Shot 2019-11-27 at 12 11 17 PM" src="https://user-images.githubusercontent.com/1448289/69756313-11db7c80-110f-11ea-9096-42c49c77742c.png">

[2019-11-27 20:23] ashleygwilliams commented on #6
i would make the bar thinner and give it a top margin  of like 2.5em i think - just give it some space between the sign up for updates and the hr

also i did mean we should widen it- if folks have a large screen the super narrow multi-line email feels a little unnecessarily difficult to read

[2019-11-27 20:25] ttraenkler opened #9 "Logo / Flyer redesign"
The Logo and flyer should look nice and recognisable, convey the key details, be accessible and mobile friendly.

@ashleygwilliams proposed this overall page layout which might tie into this issue (see #4) <img width="394" alt="Screen Shot 2019-11-27 at 12 59 27 PM" src="https://user-images.githubusercontent.com/1163554/69752192-528ac400-1116-11ea-9a1d-5e72e9f0f0d3.png">

[2019-11-27 20:26] ttraenkler commented on #4
@torch2424 definitely

@ashleygwilliams regarding the proposed page layout I will focus on the lower part related to the task. i have created #9 for the proposed logo redesign.

[2019-11-27 20:27] torch2424 commented on #6
Oops @ttraenkler  commented this as well, My bad I forgot to do so in my screenshots 😢

Made the fixes!

<img width="397" alt="Screen Shot 2019-11-27 at 12 26 45 PM" src="https://user-images.githubusercontent.com/1448289/69757196-359fc200-1111-11ea-9eae-919917a36eec.png">
<img width="867" alt="Screen Shot 2019-11-27 at 12 26 40 PM" src="https://user-images.githubusercontent.com/1448289/69757197-35

[2019-11-27 20:30] ttraenkler opened #10 "Accessibility"
- make color contrast more readable while keeping a balanced look
- check overall page accessibility

[2019-11-27 20:41] torch2424 commented on #6
As discussed on discord, more top margin, less bottom margin 😄

<img width="391" alt="Screen Shot 2019-11-27 at 12 33 58 PM" src="https://user-images.githubusercontent.com/1448289/69757598-3b49d780-1112-11ea-8fdc-83b9a90527e2.png">

<img width="1371" alt="Screen Shot 2019-11-27 at 12 33 52 PM" src="https://user-images.githubusercontent.com/1448289/69757600-3be26e00-1112-11ea-93ca-fbca66b51662.png"

[2019-11-27 20:53] ttraenkler commented on #6
@torch2424: Like it overall, maybe try the bar with alpha of sth like 0.7?  What about "Contact us: "? may be a bit more concise and focus the page more on the key message

[2019-11-27 20:54] ttraenkler commented on #9
logo proposal by @ashleygwilliams  ![](https://cdn.discordapp.com/attachments/648975690485596163/649349362400362537/Screen_Shot_2019-11-26_at_1.25.11_PM.png)

will refine it a bit to integrate into the page

[2019-11-27 21:05] torch2424 commented on #6
Done @ttraenkler 😄

<img width="865" alt="Screen Shot 2019-11-27 at 12 58 43 PM" src="https://user-images.githubusercontent.com/1448289/69758952-c4aed900-1115-11ea-9eda-c3f76740e704.png">
<img width="393" alt="Screen Shot 2019-11-27 at 12 58 52 PM" src="https://user-images.githubusercontent.com/1448289/69758953-c4aed900-1115-11ea-820e-c6a7e0fb46ac.png">

[2019-11-27 21:26] ashleygwilliams commented on #6
i think we have consensus,  let's ship it

[2019-11-27 22:53] #2 closed

[2019-11-28 15:14] #6 closed

[2019-11-28 18:45] pranjal9599 commented on #10
Hi i checked the overall page accessibility using lighthouse and axe. Increasing the text color alpha from 0.5 to 0.7 seems to fix the color contrast issues. And adding html lang attribute and aria fixes the other issues.

### Before:

<img width="1348" alt="image" src="https://user-images.githubusercontent.com/15066223/69827128-105ba280-123c-11ea-9e2a-900257ebe201.png">
<img width="686" alt="imag

[2019-11-28 18:52] surma commented on #10
Wanna open a PR?

[2019-11-28 19:44] pranjal9599 commented on #9
Thoughts on this rough re-design from sketch ?

![MacBook Pro - 1](https://user-images.githubusercontent.com/15066223/69829291-6719aa00-1245-11ea-9fdc-e981e63f3148.jpg)

![X - 1](https://user-images.githubusercontent.com/15066223/69829176-05f1d680-1245-11ea-923e-44e2c373efce.jpg)

[2019-11-28 19:47] ttraenkler commented on #10
@pranjal9599 thanks, approved

[2019-11-28 19:56] ttraenkler commented on #9
@pranjal9599 Thanks for the proposal! I like the buttons and the background idea.

Regarding the buttons I feel they are cool, if you want please make for PR them in context of #4.

The logo and headline / subtitle font and sizing could need a bit refinement. Personally, I would prefer the old font for "WebAssembly Summit" and overall make the headline slightly bigger.

Regarding the logo layout,

[2019-11-28 20:21] #10 closed

[2019-11-29 09:18] torch2424 commented on #9
+1 to what Thomas suggested,

but in general, I think this looks great! :smile: :tada:  Excited to see this after the suggestions!

[2019-11-29 12:48] pranjal9599 commented on #9
Hey i changed according to suggestions can i get the svg of the logo
![image](https://user-images.githubusercontent.com/15066223/69869864-2157f280-12d4-11ea-99d0-470214329181.png)

[2019-11-29 13:05] ttraenkler commented on #9
[wasmsummit.svg.zip](https://github.com/WebAssemblySummit/webassemblysummit.github.io/files/3905286/wasmsummit.svg.zip)

[2019-11-29 13:07] ttraenkler commented on #9
@pranjal9599 could you make test with the current font also?

[2019-11-29 13:15] pranjal9599 commented on #9
Yes, with current font

![image](https://user-images.githubusercontent.com/15066223/69871289-69791400-12d8-11ea-98b7-84986efe647d.png)

[2019-11-29 13:17] ttraenkler commented on #4
@pranjal9599 You made a nice proposa for the buttonsl in #9. Could you add a PR to add the buttons to the current design so we're not blocked until the logo ticket is finished?

[2019-11-29 13:22] ttraenkler commented on #9
@pranjal9599 They want to use the official spelling "WebAssembly" - one word with uppercase initials.

[2019-11-29 13:25] ttraenkler commented on #9
otherwise to me it looks good and ready to ship - what about mobile?

[2019-11-29 13:28] ttraenkler commented on #9
@pranjal9599 Could you make a branch for this or if not otherwise possible a fork so we can have a look at the code?

@ashleygwilliams what do you think about @pranjal9599 design of your layout proposal / logo? Should he make PR?

[2019-11-29 13:32] pranjal9599 commented on #9
![image](https://user-images.githubusercontent.com/15066223/69872136-a80fce00-12da-11ea-9014-15594e6a8afb.png)
![image](https://user-images.githubusercontent.com/15066223/69872143-ae05af00-12da-11ea-9047-2727dbd82cac.png)

It looks like this currently in mobile. Yeah i made a fork already: https://github.com/pranjal9599/webassemblysummit.github.io/tree/redesign

[2019-11-29 13:34] pranjal9599 commented on #4
Yes apply for speaker should link to here https://docs.google.com/forms/d/e/1FAIpQLSdY82WK8eGSDro2qLwU63wbf8bTQhcSmSmmofY8QuQceS9Tag/viewform right ?

Where should the tickets one link to?

[2019-11-29 13:46] natorion commented on #5
I think we agreed to re-use the one from Rust Conf minus the Rust-specific parts: https://rustconf.com/about/

====
The WebAssembly Summit is intended to be an inclusive, welcoming conference for everyone. In particular, we do not tolerate harassment of conference participants in any form. Conference participants violating these rules may be sanctioned or expelled from the conference at the discre

[2019-11-29 13:48] natorion commented on #9
This looks neat. Could you upload a version that removes the flag+flag pole from the logo? A flag implies that there is some possession-taking, which it is not. Also the style of the flag seems to be not compatible with the rest of the page.

[2019-11-29 13:58] ttraenkler commented on #9
@natorion Agree the flag sticks a bit out of the design. +1 removing it.

@pranjal9599 Cool! some minor tweaks i have in mind, but these are not urgent. left aligning the text on mobile would look a bit more readable + uppercasing the S of summit since it's a headline and some slight refinement of spacing.

[2019-11-29 14:04] pranjal9599 commented on #9
@natorion
![image](https://user-images.githubusercontent.com/15066223/69873763-34bc8b00-12df-11ea-8ebb-a5ddbd1f2309.png)

@ttraenkler Yes mobile version definitely needs spacing and alignment tweaks

[2019-11-29 14:13] ttraenkler commented on #9
@pranjal9599 cool, looks quite clean already. just my 5 cents: i feel in the desktop version the headline font size could be a slight notch bigger and the description text and buttons are a bit close to each other. maybe we could try to very slightly reduce the top margin of the page to free some space?

[2019-11-29 14:30] natorion commented on #9
Looks a lot better now, thanks. What are people's thoughts on the WA. should it fit into the Wasm purple space or is the current overflowing style fine?

[2019-11-29 16:23] ttraenkler commented on #9
@natorion I think it can be fine given the Monday deadline. Personally i would try to play with increasing the size of the mountain and overlap it a bit with the headline as a background scenery and see if the logo and the headline can be integrated a bit. Maybe if you think this is a welcome refinement I will play with it over the week-end a bit when I am back to health.

[2019-11-29 17:29] ttraenkler commented on #9
@ashleygwilliams @natorion could someone allow @pranjal9599 to create a branch + pr?

[2019-11-29 20:14] ttraenkler commented on #9
@pranjal9599 I've checked out your branch, it seems the latest version was not pushed yet.

[2019-11-29 21:03] ttraenkler commented on #9
<img width="1440" alt="Bildschirmfoto 2019-11-29 um 22 02 55" src="https://user-images.githubusercontent.com/347722/69889974-16ad5580-12f4-11ea-8785-14a5db5d5e1c.png">

[2019-11-29 21:47] ttraenkler commented on #9
@pranjal9599 I've pushed your redesign branch from your fork into this repo. Let's sync our work and refine from here if you agree on the direction taken.

[2019-11-29 23:15] torch2424 commented on #9
Just wanted to chime in, I really enjoy this redesign! It has my approval one @ttraenkler comments are addressed!

And unfortunately, I think only @ashleygwilliams has the ability to add collaborators to the project, but it is the holidays in the states, so no worries on that!

But! @pranjal9599 should be able to create a PR from their fork. So we should be all good to go there! 😀

[2019-11-29 23:25] ttraenkler commented on #9
@torch2424 I've already addressed those and pushed to the redesign branch in this repo. We need to refine a few things I mentioned in the PR still.

[2019-11-29 23:54] ttraenkler commented on #9
I am going to solve the remaining points now (make links functional, mobile) so we're ready to ship for Monday as I might not find time tomorrow.

[2019-11-30 01:22] pranjal9599 commented on #9
It looks great @ttraenkler ok I'll sync

[2019-11-30 01:23] ttraenkler commented on #4
@pranjal9599 Thanks, I've created a PR with the links already. What country are you from (timezone)?

[2019-11-30 01:25] pranjal9599 commented on #4
@ttraenkler India I just woke up it's 6:55 here

[2019-11-30 02:22] ttraenkler commented on #4
@pranjal9599 if you'd like join us on Discord http://discordapp.com/invite/nEFErF8

[2019-11-30 02:34] ttraenkler commented on #4
@pranjal9599 I just pushed the latest version to the redesign branch here

[2019-11-30 02:36] ttraenkler commented on #9
Just pushed with fixes for mobile, and added missing links.
<img width="1440" alt="Bildschirmfoto 2019-11-30 um 03 35 56" src="https://user-images.githubusercontent.com/347722/69894640-90f4ce80-1322-11ea-8178-026e5b139604.png">

[2019-11-30 03:03] pranjal9599 commented on #9
Rebased my repo with this. Now it's looking great on mobile too 🎉

[2019-11-30 03:07] ttraenkler commented on #9
@pranjal9599 cool, i think we're done - high five ✋

[2019-11-30 03:09] pranjal9599 commented on #9
@ttraenkler great 🤚

[2019-11-30 07:58] natorion commented on #9
This looks marvelous. Wow! Thanks folks.

Ashley is indeed the right person regarding permissions on this repo.

Pranjal <notifications@github.com> schrieb am Sa., 30. Nov. 2019, 04:09:

[2019-11-30 08:08] natorion commented on #9
Regarding"satellite conference to ..." Let's remove that:

1.) This Sounds Like it is associated with th CG, which it is not
2.) There is only a very small amount of audience overlap.

Thoughts?

[2019-11-30 09:09] pranjal9599 commented on #9
+1 on removing the CG thing i also feel it's confusing

[2019-11-30 09:10] pranjal9599 commented on #9
+1 on removing the cg thing i also feel it's confusing

[2019-11-30 09:11] pranjal9599 commented on #9
+1 on that

[2019-11-30 10:22] ttraenkler commented on #9
@natorion Yeah I agree about the satellite. I was bouncing back and forth with this. I think however it would be nice to let people know about this. Any other suggestions? Until then I'll remove it

[2019-11-30 10:26] ttraenkler commented on #9
Ship it?
<img width="1440" alt="Bildschirmfoto 2019-11-30 um 11 26 21" src="https://user-images.githubusercontent.com/347722/69899284-44ca7e00-1364-11ea-8aad-3b9a594d23fb.png">

[2019-11-30 11:39] natorion commented on #9
LGTM

[2019-11-30 17:50] ttraenkler commented on #9
mobile view:
<img width="322" alt="Bildschirmfoto 2019-11-30 um 18 49 07" src="https://user-images.githubusercontent.com/347722/69904065-39964300-13a2-11ea-832f-442452868013.png">

[2019-11-30 18:25] natorion commented on #9
Looks great. One thing I noticed: the fill in the A of WA is blue, but likely should be purple.

[2019-11-30 20:31] ttraenkler commented on #9
good catch, will fix

[2019-11-30 21:17] ashleygwilliams commented on #9
Really loving the collab here! You have my +1 once the inner “A” color is changed! Let’s ship it! 🚀

Sent from my iPhone

[2019-11-30 21:46] ttraenkler commented on #9
@ashleygwilliams sorry forgot to mention the A is already fixed

[2019-11-30 21:50] ttraenkler commented on #9
A fix 👍
<img width="1440" alt="Bildschirmfoto 2019-11-30 um 22 48 37" src="https://user-images.githubusercontent.com/347722/69906445-af5ed680-13c3-11ea-9307-08b0ce665d47.png">

[2019-12-01 07:48] torch2424 commented on #9
LGTM 😀👍

[2019-12-01 12:06] ttraenkler commented on #9
Made use of the time waiting for the approval to refine the mobile layout so more fits on shorter screens (this is iPhone X form factor still, but even on say an iPhone 6 at least you see the first button 👍
<img width="324" alt="Bildschirmfoto 2019-12-01 um 13 03 42" src="https://user-images.githubusercontent.com/347722/69913679-18356580-143b-11ea-84e2-422a6418f73b.png">

[2019-12-01 13:58] #4 closed

[2019-12-01 21:58] ttraenkler commented on #9
thanks for merging. a little bonus - like this?
<img width="1440" alt="Bildschirmfoto 2019-12-01 um 22 40 33" src="https://user-images.githubusercontent.com/347722/69920941-fdd8a780-148d-11ea-99cc-c8fc9bafd55e.png">

[2019-12-01 22:54] ttraenkler commented on #9
i agree with @ashleygwilliams  the nodge did not really work.

next try: while the allusion is gone, it fixes the perception of the purple hill popping in and out of being a separate object or part of the mountain for me
<img width="1440" alt="Bildschirmfoto 2019-12-01 um 23 47 32" src="https://user-images.githubusercontent.com/347722/69921757-99214b00-1495-11ea-953c-096d5b5f3c9f.png">

[2019-12-01 23:59] ttraenkler commented on #9
<img width="1440" alt="Bildschirmfoto 2019-12-02 um 00 57 47" src="https://user-images.githubusercontent.com/347722/69922697-efdf5280-149e-11ea-9eb4-0ade88a5c756.png">

[2019-12-02 01:11] ttraenkler commented on #9
@torch2424 @ashleygwilliams pr updated

[2019-12-02 07:51] ttraenkler commented on #9
since the people i asked preferred the old version basically reverted. only made the WA have a little more space and no gradient
<img width="1440" alt="Bildschirmfoto 2019-12-02 um 08 42 23" src="https://user-images.githubusercontent.com/347722/69939700-d19a4680-14e0-11ea-8040-f4855c449b49.png">

[2019-12-02 10:10] #9 closed

[2019-12-02 15:14] ashleygwilliams opened #17 "replace Contact mailto link with email address"

[2019-12-02 15:34] #17 closed

[2019-12-03 13:18] #5 closed

[2019-12-03 13:19] ashleygwilliams opened #19 "add hashtag to footer"

[2019-12-03 13:59] #19 closed

[2019-12-03 14:02] ashleygwilliams opened #22 "deployment setup broken for Javascript files"
https://googlechrome.github.io/lighthouse/viewer/?psiurl=https%3A%2F%2Fwebassembly-summit.org%2F&strategy=mobile&category=performance&category=accessibility&category=best-practices&category=seo&category=pwa&utm_source=lh-chrome-ext

[2019-12-03 14:07] surma commented on #22
Sadly we have no control of caching headers with GitHub pages :(

[2019-12-03 14:10] ashleygwilliams commented on #22
oh bleh. if we wanted to deploy to a cloudflare worker i could get us that hosting for free. doesn't actually matter matter, but lemme know. we can keep the github action deploy, plus we gain cache header access.

[2019-12-03 16:19] surma opened #23 "Add deadline for tickets and CfP"

[2019-12-03 16:20] surma opened #24 "Add FAQ?"
- Is this a community event?
- Who is organizing?
- Who can I contact?
- Will it be livestreamed?
- Will the talks be recorded
- ... (add more!)

[2019-12-04 01:57] torch2424 commented on #23
@ashleygwilliams @ttraenkler What do we think about this:

<img width="910" alt="Screen Shot 2019-12-03 at 5 55 34 PM" src="https://user-images.githubusercontent.com/1448289/70105647-50cd6e80-15f6-11ea-8ddd-2f635e39c753.png">
<img width="346" alt="Screen Shot 2019-12-03 at 5 56 42 PM" src="https://user-images.githubusercontent.com/1448289/70105648-51660500-15f6-11ea-9c38-83b5f64eb5f7.png">

On mob

[2019-12-04 05:06] pranjal9599 commented on #24
Yeah we should definitely add this

[2019-12-04 05:07] pranjal9599 commented on #24
Thoughts on adding a page like this https://rustconf.com/about/#faqs and adding faqs there?

[2019-12-04 08:17] surma commented on #23
You could also wrap “Application deadline” and “December 9th, 2019” in separate `<nobr>` tags.

[2019-12-04 09:39] ttraenkler commented on #23
@torch2424 Shorten to "Application closes December 9th" and highlight it a bit in light yellow?

[2019-12-04 14:04] ashleygwilliams commented on #24
sounds good to me @pranjal9599 !

[2019-12-04 21:59] torch2424 commented on #23
@surma

TIL about [`<nobr>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nobr) 😂

@ttraenkler

How about this?

<img width="861" alt="Screen Shot 2019-12-04 at 1 58 29 PM" src="https://user-images.githubusercontent.com/1448289/70185220-364ed000-169e-11ea-9076-2f6c97aca90b.png">
<img width="345" alt="Screen Shot 2019-12-04 at 1 58 41 PM" src="https://user-images.githubusercontent.com/

[2019-12-04 22:04] torch2424 commented on #23
Per @ashleygwilliams and my suggestion in the discord, going back to white text:

<img width="883" alt="Screen Shot 2019-12-04 at 2 04 08 PM" src="https://user-images.githubusercontent.com/1448289/70185622-00f6b200-169f-11ea-89bf-2a9279a5ceba.png">
<img width="345" alt="Screen Shot 2019-12-04 at 2 04 16 PM" src="https://user-images.githubusercontent.com/1448289/70185623-00f6b200-169f-11ea-8996-c9b

[2019-12-04 22:09] torch2424 commented on #23
Got approval from @ashleygwilliams over discord, will open a PR later today 😄

[2019-12-05 02:59] #23 closed

[2019-12-05 04:33] ttraenkler commented on #23
@torch2424 white looks better I agree. Thanks!

[2019-12-05 16:47] ashleygwilliams opened #27 "in the USA, street number comes before street name"

[2019-12-05 19:24] #27 closed

[2019-12-05 19:44] ashleygwilliams opened #29 "list organizers"

[2019-12-06 01:24] torch2424 commented on #24
Agreed, LGTM @pranjal9599 😄 👍

[2019-12-08 14:06] pranjal9599 commented on #24
Hi this is my proposal for about page i think we can add organizers #29  here as well along with faqs and any other info

<img width="1659" alt="image" src="https://user-images.githubusercontent.com/15066223/70390475-65907480-19f1-11ea-9d22-0a932bc45304.png">
<img width="1659" alt="image" src="https://user-images.githubusercontent.com/15066223/70390480-6d501900-19f1-11ea-9d1e-4ea295c773d3.png">

[2019-12-08 14:07] pranjal9599 commented on #24
Opened a pr need to update content though

[2019-12-09 16:04] torch2424 opened #31 "Add a link to a markdown version of FAQ"
relates to #24

This should write the content for the faq, and linked to on the website as a markdown file (similar to the code of conduct). And migrated to #30 after the applications close 😄

[2019-12-09 16:09] ttraenkler commented on #24
@pranjal9599 Thanks for the proposal!

We've separated the FAQ content from the design in #31 so until this is finalised we can already publish a markdown version of the FAQ like for the code of conduct since the application deadline is already in two days.

With regard to the design draft, I think with respect to the deadline it would be easier if we first focus on the pure FAQ and deal with the

[2019-12-10 07:29] pranjal9599 commented on #24
@ttraenkler Edited the existing pr now it only contains faqs from markdown

<img width="1590" alt="image" src="https://user-images.githubusercontent.com/15066223/70504943-ce403400-1b4c-11ea-8cf6-67d27e935f3f.png">
<img width="1590" alt="image" src="https://user-images.githubusercontent.com/15066223/70504955-d5674200-1b4c-11ea-885e-ebfdd4d4ca69.png">

[2019-12-10 08:16] ttraenkler commented on #24
@torch2424 @ashleygwilliams From my side this version is solid enough to be merged already with respect to the deadline. I've talked to @pranjal9599 and he's cool if I give it a polish. If welcome I will give it a polish later, but imho it's more important to have this info published now. Please approve and merge if you agree.

[2019-12-10 08:18] ttraenkler commented on #31
@torch2424 Thanks for the swift implementation with regards to the deadline! I see a problem with the mobile layout, but otherwise it's ready to get merged imho

[2019-12-11 08:21] #31 closed

[2019-12-11 08:33] ttraenkler commented on #24
I've merged @pranjal9599 s PR. The organizer header will be dealt with in #29 so, this issue is closed.

[2019-12-11 08:33] #24 closed

[2019-12-11 08:35] ttraenkler commented on #29
see #24 for @pranjal9599 s proposal. We've already merged the FAQ questions so we can continue here.

[2019-12-12 13:44] ashleygwilliams commented on #29
closed by #32

[2019-12-12 13:44] #29 closed

[2020-01-03 12:45] ttraenkler commented on #22
Regarding the browser console errors (the .js 404s), the issue seems to be addressed here:
https://github.com/zeit/next.js/wiki/Deploying-a-Next.js-app-into-GitHub-Pages . One thing I noticed is that on mobile occasionally the SVG did not appear on first load for me. On page reload it always came back. I am not sure what the issue is, but it might be related to the 404s described in the link above

[2020-01-03 12:45] ttraenkler commented on #22
I'll unassign me from this ticket until I resume work on this, so anybody who wants to contribute can chime in.

[2020-01-03 12:55] ttraenkler opened #37 "design speakers page"
For the upcoming announcements of the speakers and the schedule, we need a general page design and specific page layouts. It should fit with the design of the rest of the pages, show pictures of the speakers. note the schedule page has been moved to a different issue

[2020-01-03 12:55] ttraenkler commented on #37
I have started working on this issue and will come up with a proposal soon.

[2020-01-04 00:21] ttraenkler commented on #37
Here a first attempt at the design of content pages, applied to the about page.

<img width="1440" alt="Bildschirmfoto 2020-01-04 um 00 00 46" src="https://user-images.githubusercontent.com/347722/71754197-8085c580-2e85-11ea-9af5-fe891629c2e1.png">

The number of columns will adapt to the width of the screen and the title "About the Event" will scroll off page while the navbar is sticky.

I will p

[2020-01-04 00:44] torch2424 commented on #37
I think this is good, and we can move forward with this for now :smile: :+1:

[2020-01-04 05:20] ttraenkler commented on #37
Cool. I will need to finish some layout refinements such as the mobile version of the navbar, then we can ship it in a first version. Then I will continue with the speaker and schedule page.

[2020-01-05 18:31] ttraenkler commented on #37
Applied the navigation bar to the main page and am working on a burger menu for mobile layouts:

<img width="365" alt="Bildschirmfoto 2020-01-05 um 19 23 49" src="https://user-images.githubusercontent.com/347722/71784200-11c57b00-2ff1-11ea-8dd3-4e677e6402a0.png">
<img width="1193" alt="Bildschirmfoto 2020-01-05 um 19 22 51" src="https://user-images.githubusercontent.com/347722/71784202-125e1180-2f

[2020-01-07 02:26] ttraenkler commented on #37
I have refined the design of the navigation bar and added mobile support. I replaced the links on the front page with the navigation bar. The navigation items I would see fit are "News, Speakers, Schedule, Venue, About". The about page contains the FAQ, including the contact email, Twitter, and code of conduct links. I have also added refined the text and added some items to the FAQ (e.g. hotel re

[2020-01-07 07:07] torch2424 commented on #22
Going to look into this, per @ttraenkler suggestion :smile:

[2020-01-07 07:08] torch2424 opened #39 "Get Content for the Speakers Page"
After we get the design for the speaker page from #38 , we should create the speakers page as we announce them with their info.

Assigning to @ashleygwilliams as if I remember correctly, they said they were going to take this on. Feel free to re-assign if I am incorrect :smile:

[2020-01-07 07:09] torch2424 opened #40 "Get Content for the Schedule page"
After we have a final schedule for the event, we should create a schedule page using the design from #38

[2020-01-07 07:10] torch2424 opened #41 "Add offline support"
One thing that would be great is if the website was available offline, in case any attendees have a poor connection at the event.

[2020-01-07 16:47] ttraenkler commented on #37
Here is a first draft of the speakers page:

![Bildschirmfoto 2020-01-07 um 17 42 32](https://user-images.githubusercontent.com/347722/71912325-980aca00-3175-11ea-9d57-4e94ea16fd12.png)

[2020-01-08 00:57] ttraenkler opened #43 "Update FAQ about tickets"
answer questions about attendance like:

-  is there a cost for attendance?
- can i get a ticket?
- ...

[2020-01-08 01:31] ttraenkler opened #45 "Design schedule page"
schedule page with speakers talk title abstract, time etc.
example data here: https://gist.github.com/ashleygwilliams/6f3a16ac89383e024fe71894a6a2a4d9

example: https://developer.chrome.com/devsummit/schedule/

[2020-01-08 01:59] torch2424 commented on #45
Just for reference, this page should have the content from #40 😄

[2020-01-08 11:09] ttraenkler commented on #22
I think this is related to the deployment setup. Actually investigating the issue why the onclick handler of the burger menu is not working when deployed, I realized the 404s may actually mean there is no Javascript served at all and the page falls back to static HTML - that's why no Javascript is actually working at all probably.

Here are some links related to the setup:
- https://github.com/thi

[2020-01-08 11:11] ttraenkler commented on #22
I assume what happens is that we moved the github page from a user/orga page to a project page and we need to setup the domain as is described here: https://github.com/thierryc/Next-gh-page-example with a `next.config.js` and `env-config.js` as seen in this repo.

[2020-01-08 11:46] ttraenkler commented on #22
I have opened a PR with a potential fix for the broken .js assets #47 - it also contains changes to the <a> tags, but these are probably irrelevant - the important changes are in the env-config.js and next.config.js setting up the Github project repository. I can't test this locally so we would have to merge and deploy this fix and see if it fixes the issue.

[2020-01-08 15:41] ttraenkler commented on #22
@ashleygwilliams Thanks for the review. I merged the PR and it did not fix the issue, but I think we're close. I will read some more and create another PR later.

[2020-01-08 17:08] #43 closed

[2020-01-08 23:47] ttraenkler opened #51 "refine navigation tab bar"
experiments on proposal for:

- add more navigation items with icon + text
- show tab bar with icons instead of burger menu for mobile
- decide whether to move to the bottom of the screen for mobile and desktop separately

[2020-01-09 00:21] ttraenkler opened #52 "Improve page loading time"
Ater fixing #22, this is the new lighthouse report for

## landing page
- desktop: https://googlechrome.github.io/lighthouse/viewer/?gist=d684dcfa276a0391b8932dd84005a8de
- mobile: https://googlechrome.github.io/lighthouse/viewer/?gist=4e2de7fe1850a2f48126414de65e2ea5

## speaker page
- mobile: https://googlechrome.github.io/lighthouse/viewer/?gist=96022f03fb89bf959f6c3637fc96f76d

## about page
-

[2020-01-09 00:22] ttraenkler commented on #22
Thanks @torch2424 for the review. I merged/deployed the PR and the .js errors are gone (see new report in #52). I will address the new lighthouse audit report after this in #52.

[2020-01-09 00:22] #22 closed

[2020-01-09 00:40] ttraenkler commented on #52
I have addressed the missing page title in #53.

[2020-01-09 00:56] ttraenkler commented on #52
The main issue remaining is the caching issue, which we cannot solve with Github pages, only maybe partly through #41.

[2020-01-09 01:25] ttraenkler commented on #52
I found some accessibility issues for the speakers and about page (missing headings and image alt text mainly), see

## speaker page
- mobile: https://googlechrome.github.io/lighthouse/viewer/?gist=96022f03fb89bf959f6c3637fc96f76d

## about page
- mobile: https://googlechrome.github.io/lighthouse/viewer/?gist=e678eb8a511d6a418f77f6218390ca27

[2020-01-09 01:28] ttraenkler commented on #37
Lighthouse reported accessibility issues due to missing headline and alt image texts - see #52.

[2020-01-09 01:31] ttraenkler opened #55 "about page accessibility"
- Lighthouse report found headline is missing - see #52.
- also working on webassembly.eu i learnt people prefer black on white text

[2020-01-09 01:32] ttraenkler commented on #52
updated / created issues for accessibility of about and speakers page #37 #55

[2020-01-09 01:42] ttraenkler commented on #41
steps here: https://nextjs.org/features/progressive-web-apps#offline-support

[code]

wrap config with next-offline https://github.com/hanford/next-offline#usage

[2020-01-09 02:03] ttraenkler opened #56 "Add frequently asked questions"
people keep asking questions in the Discord #summit channel, (mostly about the state of their application and the process) which highlights we need to cover more info in the faq

-  add info about venue, visa, tickets, application process, speaker cfp and ticket feedback (you could simply comment with a compiled list of questions / answers here)
- group questions into sections (with headlines for

[2020-01-09 02:51] ttraenkler commented on #55
new proposal for better readibility
![Bildschirmfoto 2020-01-09 um 03 49 52](https://user-images.githubusercontent.com/347722/72033623-1ad57700-3293-11ea-901e-c2ebe466d466.png)
old version
<img width="1440" alt="Bildschirmfoto 2020-01-07 um 19 52 29" src="https://user-images.githubusercontent.com/347722/72033673-45bfcb00-3293-11ea-95b7-80b86918a40a.png">

[2020-01-09 15:33] ashleygwilliams commented on #37
this is done! closing

[2020-01-09 15:33] #37 closed

[2020-01-09 15:34] ashleygwilliams commented on #51
this is done! closing

[2020-01-09 15:34] #51 closed

[2020-01-10 11:10] ttraenkler opened #60 "Add link to livestream"
We should plan how to embed the livestream with some time in advance so we can avoid last minute actions or not having a livestream. I assume @natorion or @surma you know most about this?

- Who is going to take care of the livestream setup?
- Who is going to take care of recording the talks on site?
- What is the URL of the livestream?
- Do we just link to a Youtube URL or do we want to embed the

[2020-01-10 11:14] ttraenkler opened #61 "Add title to content pages"
Since we moved the Navbar to the bottom and thus no longer serves the purpose of a heading, and also on smaller screens the titles are not shown in the navbar or are very short, we need page titles on the top of the page.

For better accessibility this should be a h1 and the other sections like the FAQ a h2.

[2020-01-10 11:20] ttraenkler opened #62 "Design speaker page"
We need a dedicated speaker page for each of the speakers with infos about the speaker and the talk.
Here is an example from JSConf EU https://2019.jsconf.eu/speakers/ - you can click on the speakers to go to their speaker page

This page should of course also contain name and picture and have space for a longer bio, title and abstract of the talk and later embed the video of their talk, links to

[2020-01-10 11:24] ttraenkler opened #63 "Speakers page accessibility"
As reported in #52 we need to add headline tags + alt image text to improve the accessibility of the speakers page - in particular add headline tags h1 (see also #61 for adding the missing title) and h2 and alt text for profile pictures.

[2020-01-10 11:32] ttraenkler opened #64 "Improve responsive layout of landing page"
On screens with a large vertical height - in particular on large screens or on tablets in portrait mode - the summit logo does not scale to use the full space. On wide enough screens the whole logo should scale to a reasonable max amount and be centered, on narrow screens the title should go below the summit as is the case for mobile.

![Bildschirmfoto 2020-01-09 um 15 57 12](https://user-images.g

[2020-01-10 11:35] ttraenkler opened #65 "Limit number of columns on speakers page"
on wide screens:

- Limit the number of columns on the speakers page (3-4 max as discussed with @ashleygwilliams)
- scale the cards to a reasonable size on larger widths

![Bildschirmfoto 2020-01-09 um 13 10 29](https://user-images.githubusercontent.com/347722/72150273-6aa46300-33a5-11ea-9439-30a53b59cdef.png)

[2020-01-10 11:42] ttraenkler commented on #41
Until I am able to resume work on this task, I will assign it back to you @torch2424. I've added you and @ashleygwilliams to the forked repo as admin in case you want to continue experimenting with it on a github setup.

[2020-01-10 12:26] natorion commented on #60
We are going to meet with the AV eng person next week. After that I can share more details.

Google AV eng person at the venue

Google AV eng person at the venue

Not known yet.

I will check with the AV eng person. I don't think we need to embed something into the website. A link to the livestream is IMO enough.
If we are using YT for livestreaming, I guess we can use the Chromium/ChromeDeveloper

[2020-01-10 13:48] ttraenkler opened #68 "Improve readability"
Some people have readability problems with white text on purple background. People prefer reading black on white, we might also think of white on a dark color. While we have not any reports about this yet, this was rerported for https://webassembly.eu which has a similar color scheme.

I experimented with black on white for the about page in #55 - see screenshots there. We should decide whether th

[2020-01-10 13:50] ttraenkler commented on #68
This is one of the current experiments for feedback

<img width="1440" alt="Bildschirmfoto 2020-01-09 um 05 21 24" src="https://user-images.githubusercontent.com/347722/72157535-7a797280-33b8-11ea-893d-d5d70cb35858.png">

[2020-01-10 13:51] ttraenkler commented on #55
I've separated the text readability issue into a separate ticket #68 since it's not mentioned in the lighthouse accessibility report and is more of an issue for some normal vision people. The rest is addressed in the open PRs.

[2020-01-10 13:52] ttraenkler commented on #63
addressed in #67

[2020-01-10 14:03] ttraenkler opened #69 "contact email link security issue"
see lighthouse report in #52

[2020-01-10 14:07] ttraenkler opened #70 "address console warning"
address console warning

`The resource https://webassembly-summit.org/_next/static/Ml_-vciM3K0r64bCT_mSl/pages/about.js was preloaded using link preload but not used within a few seconds from the window's load event. Please make sure it has an appropriate `as` value and it is preloaded intentionally.`

[2020-01-10 14:10] ttraenkler opened #71 "improve images accessibility with alt texts"
add alt texts to all images for screen readers see lighthouse report #52

[2020-01-10 14:11] ttraenkler commented on #52
The accessibility issues have been addressed in  #67, #61, #63, and #55.

for the remaining reports i created separated tasks

- performance: the caching lifetime cannot be solved on Github pages, only moving would help; we should have a look at the console warning which may contribute to the issue #70
- security: no referrer for the contact email link #69
- alt image texts #71

remaining in scope

[2020-01-10 14:12] ttraenkler commented on #52
#41 will address the pwa report

[2020-01-10 16:07] ttraenkler commented on #71
solved as part of #67

[2020-01-10 16:08] ttraenkler commented on #71
integrated into #63 as only this page needed an alt image text

[2020-01-10 16:08] #71 closed

[2020-01-10 16:08] ttraenkler commented on #63
#71 integrated into this ticket

[2020-01-10 16:24] ttraenkler commented on #69
solved in #67

[2020-01-10 16:25] ttraenkler commented on #52
#67 addresses the lighthouse font loading performance and email link security issue

[2020-01-10 18:53] ttraenkler commented on #41
done, pr see #58

[2020-01-10 18:59] ttraenkler opened #73 "navbar not easily clickable on iPhone without home button"
On iPhone models without home button (iPhone X, XS, 11 Pro), the navbar is not clickable directly, but two clicks are needed.

The reason is on these models this area is a control area that replaced the home button for swiping up to close the app or left right to switch to another app. In order to solve this, the navbar needs more bottom padding on these models.

[2020-01-10 21:46] #73 closed

[2020-01-10 22:24] #69 closed

[2020-01-10 22:41] #63 closed

[2020-01-10 22:41] ttraenkler commented on #63
fixed and deployed

[2020-01-10 22:41] ttraenkler commented on #61
done

[2020-01-10 22:41] #61 closed

[2020-01-10 22:42] ttraenkler commented on #55
done

[2020-01-10 22:42] #55 closed

[2020-01-10 22:42] #41 closed

[2020-01-11 01:15] ttraenkler commented on #64
on large landscape screens the logo scales and is centered
![Bildschirmfoto 2020-01-11 um 02 13 52](https://user-images.githubusercontent.com/347722/72196400-18505a00-3418-11ea-9cf5-0b3678d3507b.png)
on tablets in portrait mode the layout flips to single column
<img width="942" alt="Bildschirmfoto 2020-01-11 um 02 14 09" src="https://user-images.githubusercontent.com/347722/72196401-1a1a1d80-3418-

[2020-01-11 02:26] ttraenkler commented on #70
seems to be a non-issue:
https://github.com/zeit/next.js/issues/6517#issuecomment-469063892

[2020-01-11 02:26] #70 closed

[2020-01-11 10:41] #64 closed

[2020-01-11 10:43] ttraenkler opened #81 "Fit landing page on one page on small screens"
As reported by @torch2424 in context of #79 #64, there are some small tablet portrait sizes where the landing page does not fit on one screen.

[2020-01-12 15:48] ttraenkler opened #82 "Set cache strategy for PWA to show up to date content"
Review and set cache strategy used for PWA since by default probably cache first is set and the user will only see new content after opening the webpage twice (cache first strategy). Possibly the strategy could be set for the data/ folder to always pull updated content (network first) but cache first for longer lived assets like images .

- https://github.com/hanford/next-offline#cache-strategies

[2020-01-12 15:50] ttraenkler commented on #56
New question on Discord: "Are tickets transferable in any way? I registered under my name but there's a different member of my team that would probably be better suited to attend."

[2020-01-12 18:46] ttraenkler commented on #82
I have verified that the default caching strategy is network first, which should ensure up to date content:
https://github.com/hanford/next-offline/blob/master/packages/next-offline/index.js

[2020-01-12 18:56] #82 closed

[2020-01-13 02:32] ttraenkler commented on #62
@ashleygwilliams: As requested I will take over this task based on this example data:

- https://gist.github.com/ashleygwilliams/6f3a16ac89383e024fe71894a6a2a4d9
- https://2019.jsconf.eu/ashley-williams/javascripts-journey-to-the-edge.html

[2020-01-13 12:45] ashleygwilliams commented on #60
since we'll need to be publishing videos- i think it would be useful for us to set up our own youtube channel- since we'll need continued access for moderating comments, etc

[2020-01-13 12:48] surma commented on #60
@natorion Do you mind checking in with the tech team on what our constraints are? Can we stream to any YouTube channel we own?

[2020-01-13 12:50] natorion commented on #60
Sure let's check tomorrow.

[2020-01-13 13:00] ttraenkler opened #87 "Service worker looking for outdated .js bundles"
After the latest the deployment I noticed the font on the speakers page is not rendered correctly. Opening the console, I found 404s on https://webassembly-summit.org/speakers. On the other routes I don't get the 404s but nevertheless the bad-precaching-response.

speakers:1 GET https://webassembly-summit.org/_next/static/wXMJzV_JnmWQNVu98m8GP/pages/speakers.js net::ERR_ABORTED 404
PrecacheControl

[2020-01-13 13:36] ttraenkler commented on #87
It seems the service worker is looking for the old Javascript bundles with an outdated filename hash suffix.

There is an open issue for this for the package `next-offline` we're using with unfortunately no fix so far:
https://github.com/hanford/next-offline/issues/190

One option would be to disable the service worker:
https://github.com/hanford/next-offline/issues/81

What I will try as a workar

[2020-01-13 14:12] ttraenkler opened #88 "Setup sentry to log client side errors"
Not only in light of #87 it might be helpful to add sentry for logging client side errors in the browser console to get notified of any problems users are having.

Setting this up is quite easy: https://docs.sentry.io/error-reporting/quickstart/?platform=browsernpm

@ashleygwilliams: Could you create an account for the org?

[2020-01-13 14:13] ttraenkler commented on #81
This should have been addressed, if appears again we'll reopen.

[2020-01-13 14:13] #81 closed

[2020-01-14 08:31] torch2424 commented on #40
We have finalized the schedule, and I now have all of the content for it! :smile: continuing this in the Design Issue :+1:

[2020-01-14 08:31] #40 closed

[2020-01-14 09:43] ttraenkler opened #96 "Add speaker intros & biographies"
A lot of people watching the talks will not know all the speakers and their background. Also, for some talks we have no content at all, no abstract or bio, so the speaker pages are currently mainly empty. Imho we should write short intros + biographies for the speakers from the public knowledge found on the web about the speakers.

We should maybe also reach out to the speakers and ask for a bio,

[2020-01-14 09:51] ttraenkler commented on #62
PRs #92, #93 have been merged, #97 pending

[2020-01-14 13:10] ashleygwilliams commented on #96
We are not doing speaker bios

[2020-01-14 13:10] #96 closed

[2020-01-14 13:11] ashleygwilliams commented on #62
this has been closed

[2020-01-14 13:11] #62 closed

[2020-01-14 13:11] ashleygwilliams commented on #87
we've removed the service worker so we no longer need this

[2020-01-14 13:11] #87 closed

[2020-01-14 13:11] ashleygwilliams commented on #88
i think this is too much  for a simple conference page, closing

[2020-01-14 13:11] #88 closed

[2020-01-14 13:12] ashleygwilliams commented on #39
this is closed by #94

[2020-01-14 13:12] #39 closed

[2020-01-14 13:12] ashleygwilliams commented on #68
we are going to keep this color scheme for this year and can consider other color schemes for next year

[2020-01-14 13:12] #68 closed

[2020-01-14 13:39] ttraenkler commented on #52
I think the performance is acceptable and there is no easy action we can do to improve further except for moving to another hosting service. Therefore I am closing

[2020-01-14 13:39] #52 closed

[2020-01-14 13:40] ttraenkler commented on #56
I've added all questions I had come across so far.

[2020-01-14 13:40] #56 closed

[2020-01-14 13:41] ttraenkler commented on #56
@ashleygwilliams @surma @natorion @torch2424 If you have more content for the FAQ please feel free to reopen this issue.

[2020-01-14 13:43] ttraenkler commented on #65
We've already started announcing, so I consider this closed. Feel free to reopen if you disagree.

[2020-01-14 13:43] #65 closed

[2020-01-15 13:20] ttraenkler commented on #52
PR #100 solved this issue

[2020-01-16 03:40] torch2424 commented on #45
I am currently working on this on the branch: `45-schedule-page`.

And this is the current design:

![Screenshot from 2020-01-15 19-39-05](https://user-images.githubusercontent.com/1448289/72491394-c9ffda00-37ce-11ea-83fd-82f030e739e8.png)

Where if you hove over an item's title and description, it will be underlined, and will link to the respective talk :smile:

Thoughts? @ashleygwilliams @ttraen

[2020-01-16 08:57] ttraenkler commented on #45
@torch2424 Thanks for the design proposal! I like the schedule icon and the font sizes for the time and speakers. Here are a few ideas that came to my mind to make use of the available space and improve the visual grouping, but feel free to go in another direction if you have a design in mind that you like.

- About refining the line, how do you feel about making it a bit thinner and a train stop

[2020-01-16 11:58] ttraenkler commented on #45
@torch2424 One thing that I did not mention is that if we keep both the schedule and the speakers page we will run out of button space on smartphones, so we would probably have to move one of the other buttons.

I see that you removed the speakers link - is that intentional? If I understand correctly you propose to replace the speakers page with the schedule?

[2020-01-17 00:46] torch2424 commented on #45
@ttraenkler

You are welcome! Thanks, glad you like them 😄

So personally, I felt like the CDS deisgn for their timetable was a little too busy. I don't feel super strong about it, but the schedule design I enjoyed the most personally was [JSConfEU](https://2019.jsconf.eu/schedule/timetable.html). For some reason, as an atendee, I found it to be the easiest to figure out when something, and relati

[2020-01-17 08:13] ttraenkler commented on #45
Fine if you want to go with a model similar to https://2019.jsconf.eu/schedule/timetable.html - the only problem we have is we don't have parallel tracks so we won't fill much of the screen space on desktop screens - therefore my suggestion was to add more margin depending on the screen width. Would also probably look nicer with a dark blue background like on JSConf EU.

Left being left of everyth

[2020-01-18 01:43] torch2424 commented on #45
Cool I'll take this feedback and propose a new design later tonight 😄

[2020-01-18 22:16] ttraenkler commented on #45
I had some free time today so I did some trial and error visual experimentation with the layout of the speaker page #62.

With your proposal in the back of my mind, I thought like on https://rustconf.com/schedule#rust-for-weld-a-high-performance-parallel-jit-compiler we should put the talk abstracts below each other instead of one per page. This is both more convenient to browse instead of going b

[2020-01-19 06:07] torch2424 commented on #45
@ttraenkler So I like your time design! Totally down to do the schedule like this, I agree it looks great, and it's a nice compromise between our two suggstions haha!

However, The schedule needs to include more things than just the speakers. Such as food / coffee times. Therefore, I think it might be good to preserve the current speaker design (As it highlights the speaker instead of the time), b

[2020-01-19 19:00] ttraenkler commented on #45
@torch2424 Yes, I am happy about the result - it blends our ideas nicely! Thanks for your great input as always! I agree we should keep the /speakers page with all the speaker cards.

Tomorrow I plan to open a PR for the schedule page. With this we should be ready to go - I hope, then all we need is the schedule data and after inserting it as always check that the layout is robust enough to accomm

[2020-01-19 19:05] ttraenkler commented on #96
Today we discussed a short profile on the speakers card instead of duplicating talk title and time would make sense but is not possible for the same reason as this issue - we don't have the data and won't have time to ask for the consent of the speakers for profiles derived from their public profiles. Conclusion: Something to keep in mind for next year.

[2020-01-20 09:34] ttraenkler commented on #45
@torch2424 asked me to not open a PR for this (my work is in feature/62-speaker-page). Instead he proposed to merge the proposed layout into his branch instead (see PR).

[2020-01-21 09:05] #45 closed

[2020-01-23 12:17] ttraenkler commented on #45
@torch2424 I've noticed the left margin on mobile is still there, some titles span up to 8 lines at the moment.

<img width="543" alt="Bildschirmfoto 2020-01-23 um 13 12 14" src="https://user-images.githubusercontent.com/347722/72983650-1310e900-3de2-11ea-914e-efab4d7b6c07.png">

[2020-01-23 14:23] surma opened #108 "Link to YouTube channel"
https://www.youtube.com/channel/UCh9PqDCdacsTpyRaIryhA8g

 Subtasks:
- add link to Youtube channel
- clarify if this should be placed on the navbar
- find a place for the items that do not have space on the navbar (on mobile screens in particular)

[2020-01-24 07:46] ttraenkler commented on #60
closed in favour of #108

[2020-01-24 07:46] #60 closed

[2020-01-24 08:45] ttraenkler commented on #108
I added the relevant subtasks for this issue. In the simplest case we just place it in the about page or if we place it in the navbar replace the twitter icon.

[2020-01-24 19:48] torch2424 commented on #45
@ttraenkler Ah sorry just saw this, I was super sick yesterday. By left margin, do you mean the space between the time and the circle? Or do you want the entire schedule closer to the left edge?

My apologies! I could have sworn this is how your branch looked when I tried it on mobile 😯

[2020-01-24 20:10] ttraenkler commented on #45
@torch2424 No worries, I think it's good enough. Since I am done with my part, I am just refining a little bit if we still have time and will. More important obviously is getting the data in, this should not block the announcement.

If you compare the screenshot of my branch above, I maximised the width of the text to the possible extent with the time on the left to minimise the problem a little b

[2020-01-24 22:15] torch2424 commented on #45
@ttraenkler Cool, thanks for the explanation! If I get the time, I'll play around with moving around the time in a different place for mobile 😄

[2020-01-25 11:44] ttraenkler opened #110 "Publish schedule"
Since a first version of the schedule (see #109) has been completed and the conf date is approaching, this could be published at your discretion. We only need to link it in the navigation bar before we announce. Please clarify when we plan to announce exactly. @surma @ashleygwilliams @natorion @torch2424

(This does and should not block the announcement: We may continue to slightly refine the layo

[2020-01-25 12:00] surma commented on #110
Please add the menu link ASAP, I’m gonna announce today :)

Thanks for all the hard work

[2020-01-25 14:48] ttraenkler commented on #110
@surma Alright, I am on it.

[2020-01-25 15:11] ttraenkler commented on #110
@surma I've opened PR #111 adding the navbar and slight layout fine tuning to get everything ready for the announcement. The normal process would be an approval by @torch2424 or @ashleygwilliams so please sync with them to confirm we're ready to go.

[2020-01-25 15:36] ttraenkler commented on #108
For now I have just added the links to the about page.

[2020-01-25 16:41] #108 closed

[2020-01-25 16:41] #110 closed

[2020-02-07 19:38] surma opened #113 "Promote Live Stream"
The live stream URL is now available:

https://youtu.be/WZp0sPDvWfw

We should probably put it on the front page at some point.

[2020-02-08 08:37] torch2424 commented on #113
@surma Totally! I can open a quick PR for this Sunday? :smile:

[2020-02-09 05:02] ttraenkler commented on #113
cool, wdyt maybe we could reuse the removed apply buttons for the livestream?
as a second button we could use the discord link to facilitate exchange

[2020-02-09 19:40] torch2424 commented on #113
@ttraenkler

I am unsure what the apply buttons are? :thinking:

I am also unsure what you mean by this? Maybe replace the discord button with the Youtube link? Or share the Youtube link on Discord? :smile:

But if anything, since the event is tommorrow, in a couple of hours I'll open a PR and then we can discuss if something is wrong on that :joy: Thanks for the feedback by the way! :smile: :+1:

[2020-02-09 20:32] ttraenkler commented on #113
@torch2424 the buttons on the landing page we had to apply for tickets or as speaker. up to you i just thought this might be the quickest

[2020-02-09 21:53] torch2424 commented on #113
Ohhhhhh! Like apply to the conference. I know what you mean now haha! :joy: Totally! Will do that now. Definitely would be the quickest :smile:

[2020-02-09 22:35] #113 closed

[2020-02-19 10:38] surma opened #118 "Embed videos for individual talks"
Playlist here:

https://www.youtube.com/playlist?list=PL6ed-L7Ni0yQ1pCKkw1g3QeN2BQxXvCPK

[2020-02-20 08:41] torch2424 commented on #118
@ttraenkler @ashleygwilliams I've been super busy with new job stuff. Would ya'll be down to pick this up? Otherwise I can try and get it done sometime this weekend before my onboarding :smile:

[2020-02-20 08:58] ttraenkler commented on #118
Sure, I will do this. Was planning to do this after work yesterday but a family member got hospitalised.

[2020-02-20 16:31] pranjal9599 commented on #118
Hey i can embed the talks which page should be more suitable i was thinking of adding youtube links in schedule page and then embed on every individual speaker page?

[2020-02-21 04:06] ttraenkler commented on #118
Hi @pranjal9599, thanks for offering your help. Let's place it only on the indidivual speaker pages. While  I proposed to add abstract and picture to the schedule, our consensus was to keep this information on the individual speaker page.

[2020-02-21 07:17] pranjal9599 commented on #118
Added on the speaker pages keynotes one need some work

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/15066223/75012273-aacc2a80-54a7-11ea-941c-809b3b3f5f29.png">
<img width="1680" alt="image" src="https://user-images.githubusercontent.com/15066223/75012335-c0415480-54a7-11ea-9980-5ef059b5a463.png">
<img width="1680" alt="image" src="https://user-images.githubusercon

[2020-02-21 14:08] ttraenkler commented on #118
@pranjal9599 Cool, thanks! I feel the cards look a bit unbalanced now next to the videos - we could either try to fix them or just remove them altogether, what do the others think? About the collapsing layout for the keynote talks, I had a fix for this in the branch referenced here if that helps that was not merged if you want to peek. This not only fixed the collapsing layout, but also made the c

[2020-02-24 07:58] ttraenkler commented on #118
@pranjal9599 Please let me know if you are still working on this. I am currently sick - in case you are not let me know then I will take over once I have recovered.

[2020-02-24 08:11] pranjal9599 commented on #118
Hi @ttraenkler I got caught up in somethings will try to make them by tonight or else you can take over. Hope you recover soon.

[2020-02-27 12:01] ttraenkler commented on #118
@pranjal9599 OK, I will take over now. I have still not recovered but it should only take a few minutes.

[2020-02-27 13:58] ttraenkler commented on #118
@pranjal9599 I've merged your branch into mine, fixed the layout problems on desktop, removed the speaker cards plus some minor refinements (for screenshots see #120).

[2020-02-28 05:36] #118 closed

[2020-06-01 14:22] okeybond commented on #70
Sorry, it's still an issue
<img width="384" alt="Screenshot 2020-06-01 at 15 21 04" src="https://user-images.githubusercontent.com/48156152/83418554-b1116180-a41b-11ea-952f-6b6e1a333ad7.png">

[2020-11-30 22:55] bashor opened #126 "the link to discord is invalid"

[2020-11-30 22:58] bashor opened #127 "The site refers to suspended twitter account @WasmSummit"
Also, there is https://twitter.com/Wasm_Summit, which one is right?

[2020-11-30 23:27] surma commented on #126
Fixed on live. Thank you!

[2020-11-30 23:27] #126 closed

[2020-11-30 23:28] surma commented on #127
Well, we created @wasmsummit a couple weeks ago. And it got suspended for some random reason (it was unused?!). We filed an appeal and never heard anything back. So we created @wasm_summit like a couple hours ago. It’s now updated :)

[2020-11-30 23:28] #127 closed

[2021-04-20 10:42] tchetwin opened #136 "No link to Twitter in FAQ"
https://github.com/WebAssemblySummit/webassembly-summit.org/blob/dev/src/faq.md#how-do-i-find-you-on-twitter

Is it https://twitter.com/wasm_summit? I see the Twitter account was [created](http://www.twitterjoindate.com/search?utf8=%E2%9C%93&name=wasm_summit&commit=Search) the same day as that PR was [merged](https://github.com/WebAssemblySummit/webassembly-summit.org/pull/123#event-4054048589). A

[2021-04-20 10:52] surma commented on #136
Ah thanks for flagging! That’s an oversight on my end :)

[2021-04-20 11:05] tchetwin commented on #136
Fixed in https://github.com/WebAssemblySummit/webassembly-summit.org/commit/4a91725237ac172bc4d7ee40c533d0724d9321bb

[2021-04-20 11:05] #136 closed